[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
flask-script = "*"
python-dotenv = "*"
pytz = "*"

[requires]
python_version = "3.7"
